*{
box-sizing: border-box;
margin: 0;
padding: 0;
outline: none;
}

/* body */
body{
font-family: 'Rokkitt', serif;
}

/* header */
header div{
background-color: #62a9e0;
text-align: center;
padding: 20px 35px 35px 35px;
}

#header-title{
font-size: 3em;
color: #fff;
padding: auto;
height : 50px;
}

/* main */
#container{
position: relative;
height: 670px;
padding: 15px 90px 15px 90px;
background-image: url(../assets/img/studio_ghibli_art.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

/* user-profile */

#user-profile{
display:inline-block;
margin: 30px;
padding: 30px 30px 30px 30px;
background-color: #fff;
}

#user-profile p{
width: 500px;
margin: 8px;
padding: 15px 10px 20px 15px;
}

#main-title{
font-size: 30px;
font-weight: bold;
color:#262626;
}

#main-paragraph{
padding-bottom: 40px;
font-size:26px;
color:#262626;
}

#user-code{
font-size: 28px;
font-weight: bold;
color: #2270A4;
}

/* user-tweets */

#user-tweets{
display:inline-block;
width: 500px;
padding: 20px;
margin: 30px;
background-color: #fff;
}

#input-tweet{
width: 70%;
font-family: 'Rokkitt', serif;
font-size : 18px;
height: 80px;
width: 400px;
border:none;
border-bottom: 4px solid #2270A4;
}

#count-letters{
color: #2270A4;
font-size: 1.3em;
background-color: #fff;
padding: 10px;
border-style: none;
margin-left: 90px;
display: none;
}

#btn-tweet{
padding: 10px;
border-radius: 5px;
margin-right: 90px;
background-color: #62a9e0;
font-family: 'Rokkitt', serif;
color:#fff;
font-size: 1.3em;
font-weight: bolder;
}



